rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Global Rules
    match /{datosUsuarios}/{document=**}{
      allow read: if true;
      allow create: if request.resource.data.idemp is string &&
                       request.resource.data.usuario is string &&
                       request.resource.data.email is string;
      allow update: if true;
      allow delete: if false;
    }

    // Users Collection Rules
    match /{students}/{document=**} {
      allow read: if true;
      allow create: if request.resource.data.studentID is string &&
                      request.resource.data.fullName is string &&
                      request.resource.data.schoolGrade is string &&
                      request.resource.data.aboutMe is string &&
                      request.resource.data.profilePictureURL is string;
      allow update: if true;
      allow delete: if false;
    }

    // ResearchProjects Collection Rules
    match /researchProjects/{projectId} {
        allow read, create, update, delete: if true;
    }

    // Comments Collection Rules
    match /comments/{commentId} {
      allow read: if true;
      allow create: if request.resource.data.commentID is string &&
                       request.resource.data.projectID is string &&
                       request.resource.data.uid is string &&
                       request.resource.data.comment is string &&
                       request.resource.data.rating >= 1 &&
                       request.resource.data.rating <= 5 &&
                       'timestamp' in request.resource.data;
      allow update: if request.auth.uid == resource.data.uid;
      allow delete: if false;
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
}