
.show-more-section {
    width: 50%;
    height: 50%;
    background-color: #fff;
    padding: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 100px;
    margin-top: 70px;
}


#authorProfilePicture img {
    max-width: 300px; /* Tamaño máximo de la imagen */
    margin-right: 100px;
 
}


.show-more-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 6px;
}

.show-more-section > * {
    margin-bottom: 4px;
    font-size: 16px; /* Ajusta según tus necesidades */
}

.show-more-section h3 {
    font-size: 18px;
    font-weight: bold;
}



/* Alinea las imágenes a la izquierda */
.project img {
    float: left;
    margin-right: 10px; /* Espacio entre la imagen y el texto, ajusta según tus necesidades */
}

/* Resto de tu CSS existente */

#commentsContainer {
    padding-top: 100px;
    margin-bottom: 400px;
}

#commentForm {
    max-width: 400px; /* Ajusta según tus necesidades */
    padding: 20px;
    background-color: #f8f9fa; /* Fondo gris claro */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-bottom: 20%;
}

#commentForm label {
    font-weight: bold;
}

#commentText,
#ratingSelect {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px; /* Espacio entre los elementos */
}

#btnSaveComment {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Azul brillante */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btnSaveComment:hover {
    background-color: #0056b3; /* Cambio de color al pasar el ratón */
}

.project {
    width: 53%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ddd;
    padding: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
    

}

/* Estilo adicional para el contenido si es un texto */
.project p {
    margin: 0; /* Elimina el margen predeterminado del párrafo si lo hay */
}

.project h3 {
    font-size: 18px;
    font-weight: bold;
}

#filterContainer {
    margin-top: 2rem;
    text-align: center;
}

.filterItem {
    display: inline-block;
    margin-bottom: 2rem; /* Ajusta el espacio entre elementos según tus necesidades */
}

#areaFilter {
    margin-right: 3.5rem; /* Margen derecho para el primer elemento */
}

#gradeFilter {
    margin-left: 3.6rem; /* Margen izquierdo para el segundo elemento */
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
}
