body {
    margin: 20px 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
   
   
}

.boton1{
    width: 100%;
}

.student-form {
    width: 400px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.student-form h2 {
    color: #343a40;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    height: 40px;
}

.btn-primary {
    background-color: #005a8c;
    border-color: #005a8c;
}

.btn-primary:hover {
    background-color: #003366;
    border-color: #003366;
}
